.form{
    background-color: rgb(162, 162, 223);
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.8);
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.email{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
}
.input{
    border: none;
    border: 5px solid aqua;
    box-sizing: border-box;
    width: 400px;
    padding: 15px;
    border-radius: 12px;
    outline: none;
    background-color: white;
    font-size: 20px;
}
.input-label{
    font-size: 25px;
  
    color: white;
}
.pasword{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    margin-left: 55px;
    margin-top: 10px;
}
.login{
    padding: 10px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid aquamarine;
}